.container {
  height: 4rem;
  background-color: var(--secondary);
  border-radius: 25px;
  box-shadow: 0 5px var(--secondary-dark);
  cursor: pointer;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container a {
  font-size: 1.3rem;
  color: var(--light);
  text-transform: capitalize;
  font-weight: bold;
}

.container:hover {
  box-shadow: 0 3px var(--secondary);
  transform: translateY(4px);
}
