:root {
  --primary: #379d73;
  --primary-light: #68be80;
  --secondary: #ff6300;
  --secondary-dark: #ac5b2a;
  --light: #fff;
  --section-text: #777;
  --article-title: #444b56;
  --section-background: #fbfbfb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  padding-top: 150px;
}

.container {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  body {
    padding-top: 100px;
  }
}
