.footer {
  background-color: #282828;
  padding: 1rem 0;
  text-align: center;
}

.text {
  color: white;
}

@media (max-width: 992px) {
  .footer {
    padding: 0.25rem 0;
  }

  .text {
    line-height: 1.7;
    font-size: 0.9rem;
  }

  .text i {
    display: none;
  }

  .text span {
    display: block;
  }
}
