.footer {
  width: 100%;
  background-color: #242424;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  font-size: 0.9rem;
  padding: 1.5rem 0;
  letter-spacing: 0.5px;
}

.copyright a {
  font-size: 0.9rem;
}

.copyright a:hover {
  color: var(--primary);
}

.copyright br {
  display: none;
}

@media (max-width: 992px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
  }

  .copyright span {
    line-height: 1.5;
  }

  .copyright a {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .copyright br {
    display: initial;
  }
}
