.woweare {
  background-color: #f6f6f6;
  width: 100%;
  padding: 4rem 0;
}

.section {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.section article {
  flex: 1;
}

.imageRounded {
  border-radius: 15px;
}

.title {
  font-size: 2.2rem;
  color: var(--primary);
  font-weight: bold;
}

.text {
  font-size: 1.25rem;
  color: var(--section-text);
  line-height: 1.3333;
  margin-bottom: 2rem;
}
