.section {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.section article {
  flex: 1;
}

.imageRounded {
  border-radius: 15px;
}

.title {
  font-size: 2rem;
}

.text {
  font-size: 1.25rem;
  color: var(--section-text);
  line-height: 1.3333;
  margin-bottom: 2rem;
}
