.banner {
  display: flex;
  height: 100%;
  position: relative;
}

.content {
  position: absolute;
  z-index: 2;
  right: 27.5%;
  transform: translateX(50%);

  height: 100%;
  width: 35%;
  padding: 2rem;

  background-color: rgba(79, 90, 104, 0.8);
  color: var(--light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.description {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.imageMobile {
  display: none;
}

@media (max-width: 992px) {
  .imageDesk {
    display: none;
  }

  .imageMobile {
    display: contents;
  }

  .content {
    width: 90%;
    right: 5%;
    transform: translateX(0%);
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
  }
}
